.navbarClass {
    background-color: transparent;
    height: 30%;
}

.navbar {
    background-color: transparent !important;
    margin-left: 3%;
    
}

.card, .card-nav {
    display: grid;
    margin:auto;
    
}

.card-nav {
    /*position: absolute;    */
    top: 63%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-image: url('Repositorios\GamesWebPage\img\fondo4.jpg');
    /*background-color: transparent;*/
}

.titulo {
    margin-left: 3%;
    background-color: transparent;
}

.img-title {
    height: 30px;
    background-color: transparent;
}

.img-carousel {
    height: 30%;
}

.carousel {
    height: 30%;
}

.carousel-item {
    height: 30%;
}

.carousel-inner {
    height: 30%;
}

.container-carousel {
    height: 30%;
}

main {
    background-image: url('img\fondo4.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}


.container-lateral {
    margin: 5%;
    width: 20%;
    float: right;
    right: 0;
    background-color: white;
    border-radius: 2%;
    border-color: purple;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    padding: 1%;
}

.iniciar-sesion {
    margin: 3%;
}

.recomendados, .recientes {
    margin: 1%;
    margin-left: 3%;
    width: 65%;
    float: left;
    left: 0;
    padding: 3%;
    background-color: white;
    border-radius: 1%;
    border-color: purple;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    padding: 1%;
    
}

.card {
    margin: 2%;
    align-items: center;
    width: 20%;
}


footer, .container-pages {
    display: grid;
    place-items: center;
    margin: auto;
    width: 100%;
}
