.navbarClass {
    background-color: transparent;
    height: 30%;
}

.navbar {
    background-color: transparent !important;
    margin-left: 3%;
    
}

.card, .card-nav {
    display: grid;
    margin:auto;
    
}

.card-nav {
    /*position: absolute;    */
    top: 63%;
}

.titulo {
    margin-left: 3%;
    background-color: transparent;
}

.img-title {
    height: 30px;
    background-color: transparent;
}

.img-carousel {
    height: 30%;
}

.carousel {
    height: 30%;
}

.carousel-item {
    height: 30%;
}

.carousel-inner {
    height: 30%;
}

.container-carousel {
    height: 30%;
}

.container-lateral {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: end;
    background-color: blueviolet;
}

.iniciar-sesion {
    margin: 3%;
}

.recomendados {
    margin: 1%;
    border: 1px black;
    width: 70%;
    left: 0;
}

.card {
    margin: 1%;
    align-items: center;
}

footer, .container-pages {
    display: grid;
    place-items: center;
    margin: auto;
}
